Oragon.Spring.Aop/bin/**
Oragon.Spring.Aop/obj/**

Oragon.Spring.Aop.Tests/bin/**
Oragon.Spring.Aop.Tests/obj/**


Oragon.Spring.Core/bin/**
Oragon.Spring.Core/obj/**

Oragon.Spring.Core.Tests/bin/**
Oragon.Spring.Core.Tests/obj/**

Oragon.Spring.Core.ConsoleTest/bin/**
Oragon.Spring.Core.ConsoleTest/obj/**


.git/**
.vs/**
bin/**
obj/**
docker*
Docker*