<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="oragon-alpha" value="https://www.myget.org/F/oragon-alpha/api/v3/index.json" />
    <add key="oragon-beta" value="https://www.myget.org/F/oragon-beta/api/v3/index.json" />
    <add key="oragon-rtm" value="https://www.myget.org/F/oragon-rtm/api/v3/index.json" />
  </packageSources>
</configuration>